.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.full-width{
  width: 100%;
}
.center-child{
  width: 100%;
}
.bottom-line{
  border-bottom: 1px solid black;
}
.ml-15{
  margin-left: 15px;
}

.p-10{
  padding: 10px;
}

.self-center{
  display: inline-flex;
  align-content: center;
  align-items: center;
  align-self: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
